/**************************************
        Common Shared Styles 
 **************************************/

/* Work Sans Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 140px;
}

:root {
    --primary-color: #FF42A5;
}

.btn-primary {
    border-radius: 48px;
    background-color: #FF42A5;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 21px 40px;
    text-decoration: none;
}

.btn-secondary {
    border-radius: 48px;
    background-color: #4EC5F7;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 21px 40px;
    text-decoration: none;
}

.section-title {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}

.section-description {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    padding: 16px 0 48px 0;
}

/* nav Styles */

header {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-content {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.navbar-brand {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.gamer {
    font-size: 45px;
    font-weight: 700;
    color: #0B0223;
    margin-left: 20px;
}

.gamer .gamer-first-latter {
    color: #FF42A5;
}

.navbar-collapse ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar-collapse .nav-item {
    margin-right: 15px;
    font-size: 18px;
    font-weight: 500;
}

.navbar-collapse .nav-item:last-child {
    margin-right: 0;
}

.navbar-collapse .nav-item a {
    text-decoration: none;
    color: #3C354F;
    display: flex;
    align-items: center;
}

.navbar-collapse .follow-us-on {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 16px 24px;
    cursor: pointer;
}

.navbar-collapse .fa-youtube {
    color: #F61C0D;
    font-size: 30px;
    margin: 0px 15px;
}

.navbar-collapse .fa-tiktok {
    font-size: 30px;
}


/* Banner Styles */

#banner-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.banner-content {
    /* background-image: url("images/Group 14.png"); */
}

.banner-content h2 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-content .goat {
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-content ul li {
    list-style: none;
    margin: 13px 0;
}

.banner-content ul li a {
    text-decoration: none;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}

.banner-btn-group {
    margin-top: 65px;
}

.banner-btn-group .signin {
    margin-right: 24px;
}

.banner-image {
    display: flex;
    justify-content: flex-end;
}

.banner-image img {
    width: 80%;
}


/* We are Gamer Styles */

#we-are-gamer {
    display: flex;
}


/* Funny Videos Section Styles */

#funny-videos {
    padding: 120px 0;
}

#funny-videos .videos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.funny-videos-title {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

.funny {
    color: var(--primary-color);
}

.funny-videos-description {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding: 16px 0 48px 0;
}

.video-content-item figcaption {
    color: #534C64;
    font-size: 18px;
    font-weight: 500;
    padding-top: 24px;
}

.video-content-item img {
    width: 100%;
}


.video-content-item {
    position: relative;
}

.video-content-picture {
    opacity: 1;
    display: block;
    transition: .5s ease;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.video-content-item:hover .video-content-picture {
    opacity: 0.5;
    cursor: pointer;
}

.video-content-item:hover .middle {
    opacity: 1;
}

.middle .fa-circle-play {
    color: #ffffff;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 16px;
}

.watch-now {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 600;
}

/* Play Instantly Section styles */

#play-instantly-area {
    display: flex;
    align-items: center;
    text-align: right;
    justify-content: flex-end;
    margin-bottom: 165px;
}

.play-instantly-content {
    width: 30%;
    margin-top: 80px;
}

.play-instantly-images {
    width: 60%;
    text-align: right;
    position: relative;
}

.play-instantly {
    color: var(--primary-color);
}

.play-instantly-image {
    width: 70%;
}

.play-instantly-sub-image {
    position: absolute;
    right: 375px;
    top: 300px;
    width: 35%;
}

/* Play Games Online Section styles */

#play-games-online-area {
    display: flex;
    align-items: center;
    margin-bottom: 165px;
}

.play-games-online-content {
    width: 34%;
    margin: 65px 0 0 40px;
}

.play-games-online-images {
    position: relative;
    width: 60%;
}

.play-games-online {
    color: var(--primary-color);
}

.play-games-online-image {
    width: 70%;
}

.play-games-online-sub-image {
    position: absolute;
    width: 35%;
    top: 270px;
    right: 50px;
}



/* Careers Section styles */
#careers {
    display: flex;
}

#careers .career-list-items {
    display: flex;
}


/* Game Types Section Styles  */
#game-types {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    margin-bottom: 120px;
}

#game-types .games-name {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

#game-types .games-name:hover {
    border: 2px solid red;
    border-radius: 50px;
    color: var(--primary-color);
    /* padding: 10px; */
}

/* Footer Section Styles  */

.footer-area {
    text-align: center;
    background: #0B0223;
    padding: 120px 0;
}

.footer-logo {
    display: flex;
    justify-content: center;
}

.menu-items {
    margin: 66px 0;
}

.menu-items ul {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.menu-items ul li {
    list-style: none;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
}

.gamer-last-four-latters {
    color: #FFF;
}

.social-links ul {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.social-links ul li {
    display: flex;
}

.social-links ul li a {
    color: #FFF;
    font-size: 40px;
    font-weight: 600;
}

.privacy-policy-list {
    padding: 74px 0 28px 0;
}

.privacy-policy-list ul {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.privacy-policy-list ul li {
    list-style: none;
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
}

.copy-right {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
}


/* responsive styles */

/* mobile devices */
.hide {
    display: none;
}

@media screen and (max-width:576px) {

    .container {
        margin: 0;
    }

    .nav-content,
    .navbar-collapse ul {
        flex-direction: column;

    }

    .navbar-collapse ul li {
        margin: 20px 0;
    }

    .navbar-brand {
        justify-content: center;
    }

    #banner-area {
        flex-direction: column-reverse;
    }

    .banner-content h2 {
        font-size: 25px;
    }

    .banner-image img {
        width: 70%;
        margin: auto;
        padding-bottom: 34px;
    }

    .banner-content .goat {
        font-size: 45px;
    }

    .banner-content ul li a {
        font-size: 16px;
    }

    .btn-primary,
    .btn-secondary {
        font-size: 18px;
        padding: 16px 30px;
    }

    .funny-videos-title {
        font-size: 25px;
    }

    .funny-videos-description {
        font-size: 12px;
    }

    #funny-videos .videos {
        grid-template-columns: 1fr;
        margin: 0 60px;
    }

    .video-content-item figcaption {
        font-size: 16px;
    }

    #play-instantly-area {
        flex-direction: column;
    }

    .section-title {
        font-size: 25px;
    }

    .play-instantly-content {
        width: 50%;
        margin-top: 0;
        text-align: center;
    }

    .play-instantly-images {
        width: 65%;
    }

    .play-instantly-sub-image {
        right: 160px;
        top: 120px;
    }

    #play-games-online-area {
        flex-direction: column-reverse;
    }
}